// Buttons

.btn-primary {
  --bs-btn-color: var(--pma-btn-color);
  --bs-btn-bg: var(--pma-btn-bg);
  --bs-btn-border-color: var(--pma-btn-border-color);
  --bs-btn-hover-color: var(--pma-btn-hover-color);
  --bs-btn-hover-bg: var(--pma-btn-hover-bg);
  --bs-btn-hover-border-color: var(--pma-btn-hover-border-color);
  --bs-btn-focus-shadow-rgb: var(--pma-btn-focus-shadow-rgb);
  --bs-btn-active-color: var(--pma-btn-active-color);
  --bs-btn-active-bg: var(--pma-btn-active-bg);
  --bs-btn-active-border-color: var(--pma-btn-active-border-color);
  --bs-btn-disabled-color: var(--pma-btn-disabled-color);
  --bs-btn-disabled-bg: var(--pma-btn-disabled-bg);
  --bs-btn-disabled-border-color: var(--pma-btn-disabled-border-color);
}

.btn-outline-secondary {
  @include button-variant($dark, $dark);
}

.btn-link {
  color: $pma-button-color;
}

button.mult_submit,
.checkall_box + label {
  color: $pma-button-color;
  cursor: pointer;
  outline: none;
}

button.mult_submit {
  border: none;
  background-color: transparent;
  padding-top: 0;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $pma-button-color;
  }
}

.checkall_box + label {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $pma-button-color;
  }
}

#bulkActionDropButton,
#bulkActionExportButton {
  background-color: #111519;
}
