// List group

#li_select_theme {
  form::after {
    padding-top: 0.325rem;
    padding-left: calc(var(--bs-gutter-x) * .5);
    content: "v#{$pma-theme-version}";
    color: var(--pma-color-scheme);

    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }
}
