// stylelint-disable scss/at-extend-no-missing-placeholder
// Navbar

.navbar {
  @extend .bg-light;
}

.navbar-toggler {
  border: none;
  transition: none;

  &:focus {
    box-shadow: none;
    background-color: $navbar-light-toggler-focus-bg;
  }
}

.navbar-nav {
  .nav-item.active {
    background-color: var(--pma-color-scheme);
    border-radius: $nav-item-border-radius;

    &:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .nav-link {
      color: $black;
    }

    .icon {
      filter: brightness(0) invert(0);
    }
  }
}

@include media-breakpoint-only(md) {
  .navbar-collapse {
    overflow: hidden !important;
  }
}
