.row-cols-24 > * {
  flex: 0 0 auto;
  width: 8.3333%;
}

.icon {
  width: 32px;
  height: 32px;
  margin-left: 0;
  padding: 2rem !important;
}

.pngs .icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 64px;
}
